@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.app {
    font-family: 'Inter', sans-serif;
    color: #fffff5db;
    overflow-x: hidden;
    /* background-color: red; */
}