.header {
    /* height: 1000px; */
    padding-top: 100px;
}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

/* .header-text {
    background-color: saddlebrown;
} */

.header-text h1 {
    /* font-size: 3rem; */
    font-size: 10vw;
    font-weight: 600;
}

.header-text h1 span {
    font-weight: bold;
    background: #00FF00;
    background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text div ul li {
    font-size: 1rem;
    list-style: none;
    padding: 10px 0;
    font-weight: 600;
}

.header-text div .header-button {
    text-decoration: none;
    color: white
}

.header-text div .header-button .a-header {
    background-color: #32d9cb;
    padding: 15px;
    border-radius: 10px;
    margin: 15px auto;
    margin-bottom: 70px;
    border: 2px solid #00FFFF;
    width: 100%;
    max-width: 575px;
    min-width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
}

.header-text div .header-button .a-header:hover {
    box-shadow: 0px 0px 50px 4px rgba(0, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0, 255, 255, 0.75);
}

/* .container-logo {
    width: 100%;
    position: relative;
} */

.logo-header {
    background: #32d9cb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: 0px 0px 200px 0px rgba(0, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 200px 0px rgba(0, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 200px 0px rgba(0, 255, 255, 0.75);
    z-index: -1;
}

.logo-header .logo-a {
    background: #00FF00;
    background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
}

/* library */
/* .horizont-header{
    width: 100%;
    position: relative;
}
.custom-shape-divider-bottom-1686412443 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1686412443 svg {
    position: relative;
    display: block;
    width: calc(288% + 1.3px);
    height: 126px;
    
}

.custom-shape-divider-bottom-1686412443 .shape-fill {
    fill: #252529
} */

@media (min-width: 575px) {
    .header-text h1 {
        /* font-size: 3rem; */
        /* font-size: 7vh; */
        font-size: 6vw;
    }

    .header-text div ul li {
        font-size: 20px;
    }

    .header-text div .header-button .a-header {
        max-width: 300px;
    }
}

@media (min-width: 775px) {
    /* s */
    .container-header {
        padding: 0 50px;
        padding-bottom: 100px;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-text div .header-button .a-header {
        margin: 15px 0;
    }
}