.jobs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* El grid se ajustará automáticamente */
    gap: 20px;
    /* Espacio entre las celdas del grid */
    padding: 20px;
}

/* Estilos para las celdas del grid (puedes personalizar esto) */
.job-item {
    border-radius: 10px;
    /* background-color: #ccc; */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 20px;
}

.job-item picture img {
    width: 100%;
    border-radius: 5px;
}

.job-item h2 {
    padding: 10px 0;
}

.job-item .job-button {
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.job-item .job-button a {
    padding: 5px 30px;
    border-radius: 5px;
    border: 2px solid #00FFFF;
    background: #00FF00;
    background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    font-weight: bold;
    font-size: 20px;
    color: white;
}

/* Media query para ajustar el número de columnas en tamaños de pantalla diferentes */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* Cambia el tamaño del grid en pantallas más pequeñas */
    }
}