.container-nav {
  padding: 25px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  transition: .3s ease-in-out;
}

.scroll-y {
  background-color: #1e1e20;
}

.scrollY-mobil {
  background-color: #1e1e20;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
}

.menu-nav .menu-h4 {
  font-size: 20px;
}

.menu-nav .menu-h4 .logo-one {
  background: #00FF00;
  background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 5px;
}

/* menu desktop #################################################3*/
.menu-desktop {
  display: none;
}

/* menu mobil  #################################################3*/
.container-menu--mobil {
  border-top: 2px solid #52525952;
  margin-top: 25px;
  position: absolute;
  left: -100%;
  transition: all .3s ease-in-out;
  width: 100%;
  text-align: center;
  height: 0;
  height: 100vh;
}

.container-mobil {
  padding: 25px;
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  margin: 0 auto;
}

.container-mobil ul {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.container-mobil ul .menu-li-mobil {
  /* background-color: salmon; */
  padding: 25px 5px;
  text-align: left;
  border-bottom: 1px solid #52525952;
}

.container-mobil ul .menu-li-mobil .a-mobil {
  text-decoration: none;
  font-weight: 600;
  color: white;
  /* background-color: saddlebrown; */
}

/* Functions-css #################################################*/
.desplazar-menu {
  transform: translate(100%, 0);
  background-color: #1e1e20;
  /* backdrop-filter: blur(15px); */
  z-index: 1;
}



/* mediaquery ######################################################## */
@media (min-width: 575px) {
  .container-menu--mobil {
    display: none;
  }

  /* menu desktop #################################################### */
  .menu-desktop {
    display: flex;
    align-items: center;
  }

  .menu-desktop .menu-ul {
    display: flex;
    gap: 20px;
  }

  .menu-desktop .menu-ul .menu-li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease-in-out;
    /* background-color: saddlebrown; */
    padding: 5px;
  }

  .menu-desktop .menu-ul .menu-li:hover {
    border-bottom: 2px solid #00FFFF;
  }

  .menu-desktop .menu-ul .menu-li .menu-a {
    text-decoration: none;
    color: white;
  }
}