.container-nav {
  /* background-color: aquamarine; */
  padding: 25px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
}

/* menu desktop #################################################3*/
.menu-desktop {
  display: none;
}

/* menu mobil  #################################################3*/
.container-menu--mobil {
  margin-top: 25px;
  background-color: salmon;
  position: absolute;
  left: -100%;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  height: 0;
  height: 100vh;
}

.container-mobil{
  background-color: saddlebrown;
  padding: 15px 0;
  border-top: 2px solid white;
}
.container-mobil ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(114, 250, 171);
}
.container-mobil ul .menu-li-mobil .a-mobil{
  text-decoration: none;
  font-weight: 500;
  color: white;
}

/* Functions-css #################################################*/
.desplazar-menu {
  transform: translate(100%, 0);
  /* backdrop-filter: blur(15px); */
  z-index: 2;
}




/* mediaquery ######################################################## */
@media (min-width: 575px) {
  .container-menu--mobil {
    display: none;
  }

  /* menu desktop #################################################### */
  .menu-desktop {
    display: block;
  }
  .menu-desktop .menu-ul {
    display: flex;
    gap: 20px;
  }
  .menu-desktop .menu-ul .menu-li .menu-a{
    text-decoration: none;
    color: white;
  }
}